@model Library.Models.Book

@{
  ViewData["Title"] = "LendingBook";
}

<h1 class="title">Hello @User.Identity.Name - Lending Book Information</h1>

<div class="page-container">
  <div class="item">
    <h3>
      @Html.DisplayFor(model => Model.Name)
    </h3>

    @if (Model.ImageName != null)
    {
      <div>
        <img src="@Url.Action("GetImage", values: new { id = Model.Id })">
      </div>
    }

    <div>
      <span class="display-label">
        @Html.DisplayNameFor(model => model.Author):
      </span>
      <br />
      <span class="display-field">
        @Html.DisplayFor(model => model.Author)
      </span>
    </div>

    <div>
      <span class="display-label">
        @Html.DisplayNameFor(model => model.DatePublished)
      </span>
      <span class="display-field">
        @Html.DisplayFor(model => model.DatePublished)
      </span>
    </div>

    <div>
      <span class="display-label">
        @Html.DisplayNameFor(model => model.Available)
      </span>
      <span class="display-field">
        @Html.DisplayFor(model => model.Available)
      </span>
    </div>
  </div>
</div>

<form method="post" enctype="multipart/form-data" asp-action="LendingBook">
  <button type="submit" class="btn btn-outline-primary">
    Lend a Book
  </button>
</form>
